:root {
    --primary-color: #0A3734;
    --secondary-color: #317242ff;
    --accent-color: #C4CB2F;
    --accent-color-dark: #84B056ff;
    --text-light: #ffffff;
    --text-dark: #000000;
    --font-family: 'Poppins', sans-serif;
    --border-radius: 6.4px;
    --shadow: 0 3.2px 4.8px rgba(0, 0, 0, 0.1);
}